---
title: Dave Woodall
---
<section class='welcome'>
  <h2 class='animated fadeInDown'>Dave Woodall</h2>
</section>
<header id="header" class="module">
  <%= partial 'shared/nav' %>
</header>
<div class="mobile-hero">
  <h1 class='mobile-hero__title animated fadeInDown'>Dave Woodall</h1>
  <%= image_tag 'tall.jpg' %>
</div>

<%= partial 'shared/question_one' %>
<%= partial 'shared/question_two' %>
<%= partial 'shared/question_three' %>
<%= partial 'shared/question_four' %>
<%= partial 'shared/question_five' %>
<%= partial 'shared/extras' %>

